<% content_for :title, "All articles" %>
<h1 class="articles-list-header">ShadowBlog</h1>

<div class="account-buttons">
  <% if user_signed_in? && current_user.writer? %>
    <%= link_to "New article", new_article_path, class: "new-article-button" %>
  <% end %>

  <% unless user_signed_in? %>
    <%= link_to "Sign in", new_user_session_path, class: "sign-in" %>
    <%= link_to "Sign up", new_user_registration_path, class: "sign-up" %>
  <% else %>
    <%= link_to "Logout", destroy_user_session_path, class: "logout", data: { turbo_method: :delete } %>
    <%= link_to "Edit account", edit_user_registration_path, class: "edit" %>
  <% end %>
</div>

<div class="articles-list">
  <% @articles.each do |article| %>
    <%= link_to article, class: "article-link" do %>
      <span class="article-title"><%= article.title %></span>
      <span class="article-created-ago">Created <%= distance_of_time_in_words_to_now article.created_at %> ago</span>
      <span class="article-created-by">Created by <%= article.user.username %></span>
    <% end %>
  <% end %>
</div>
